{% extends 'base.html' %}

{% block content %}
<div class="card" style="margin: 40px;">
    <h1 class="card-title"> Lista de Grupos de la FIFA</h1>
    <table class="table table-striped table-bordered shadow-lg">
        <thead>
            <tr>
                <th scope="col" style="color: #202124;">Año De Celebración</th>
                <th scope="col" style="color: #202124;">País Sede</th>
                <th scope="col" style="color: #202124;">Selección Ganadora</th>

            </tr>
        </thead>
        {% for mundial in lista_mundiales %}
        <tbody>
            <tr>
                <td> <a href="{% url 'lista_grupos_mundial' mundial.0 %}" style="color: #8a1538">{{ mundial.0 }} </a></td>
                <td>{{ mundial.4 }}</td>
                <td>{{ mundial.5 }}</td>
            </tr>
        </tbody>
        {% empty %}
            <p>No hay mundiales registrados</p>
        {% endfor %}
    </table>
</div>
{% endblock %}